// colors :
$red: #ff3465;
$black: #1e1e1e;
$bgcolor: rgba(248, 248, 248, 1);
$grey: rgba(200, 200, 200, 1);


// fonts : 
$roboto: 'Roboto',
Helvetica,
sans-serif;
$questrial: 'Questrial',
sans-serif;

// transition : 
$transition: .2s ease-in-out;